.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 150px;
}

.header img {
  display: block;
  margin: 0 20px; 
  width: 35%;
  height: 35%;
  image-rendering: pixelated;
}

a {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a img {
  min-width: 100%;
  min-height: 100%;
}

#canvas-container {
  width: 100%;
  text-align: center;
}

@keyframes slide {
    from { background-position: 535px 0; }
    to { background-position: -1000px 0; }
}

#analyser-render {
  background: url('assets/flappy-bird-background.png') repeat 0 0;
  animation: slide 10s linear infinite;
  image-rendering: pixelated;
}

@font-face {
  font-family: FlappyFont;
  src: url('./assets/04B_19__.TTF')
}

.score, .high-score {
  font-family: 'FlappyFont';
  font-size: 60px;
  width: 60px;
  color: black;
  text-align: center;
  margin: 0 40px;
  
}